blis==0.2.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
dataclasses==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
filelock==3.0.12
future==0.18.2
idna==2.10
joblib==1.0.0
jsonschema==2.6.0
murmurhash==1.0.5
numpy==1.19.5
packaging==20.9
pandas==1.1.5
plac==0.9.6
preshed==2.0.1
pyaml==20.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scipy==1.5.4
sentencepiece==0.1.95
six==1.15.0
spacy==2.1.0
srsly==1.0.5
thinc==7.0.8
tokenizers==0.8.0rc4
torch==1.6.0
torchtext==0.4.0
tqdm==4.56.0
transformers==3.0.1
urllib3==1.26.4
wasabi==0.8.2
